<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title d-flex align-items-center gap-3" id="app-teacher-modal">
      @if(isEdit){
      Editar Professor<bi name="pencil-fill" class="icon-edit"></bi>
      }
      @else {
      <span>Cadastrar Professor</span>
      }

    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Exit click')"></button>
  </div>
  <div class="modal-body">
    <form #form="ngForm" (ngSubmit)="save()">
      <div class="row mb-3">
        <div class="col">
          <label for="name" class="form-label">Nome Completo</label>
          <input type="text" class="form-control" name="name" id="name" [(ngModel)]="name">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" name="email" id="email" [(ngModel)]="email">

        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="cellPhone" class="form-label">Telefone</label>
          <input type="tel" class="form-control" name="cellPhone" id="cellPhone" [(ngModel)]="cellPhone">
        </div>
        <div class="col">
          <label for="categorias">Categorias</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="tennis" value="" [(ngModel)]="tennisChecked"
              id="tennis" />
            <label class="form-check-label" for="tennis">
              Tênis
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="beachTennis" name="beachTennis"
              [(ngModel)]="beachTennisChecked" />
            <label class="form-check-label" for="beachTennis">
              Beach Tennis
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" (click)="modal.dismiss('Cancel click')">
          Cancelar
        </button>
        @if(isEdit) {
        <app-confirm-modal [item]="'Professor'" [isEdit]="true" (saveItem)="save()">
          <button type="button" class="btn btn-save">Salvar</button>
        </app-confirm-modal>
        } @else {
        <button type="submit" class="btn btn-save">Salvar</button>
        }
      </div>
    </form>
  </div>
</ng-template>
<div (click)="open(content)" tabindex="0" (keyup.enter)="open(content)" (keyup.space)="open(content)">
  <ng-content></ng-content>
</div>